.capitalised {
    text-transform: capitalize !important;
}

body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@font-face {
    font-family: 'pocket_monkregular';
    src: url('../fonts/pocketmonk-15ze-webfont.woff2') format('woff2'),
         url('../fonts/pocketmonk-15ze-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#titlePage {
    font-family: 'pocket_monkregular';
    text-align: center;
    font-size: 7em;
    color: #045cb4;
    text-shadow: -2px -2px 0 #f8d323, 2px -2px 0 #f8d323, -2px 2px 0 #f8d323, 2px 2px 0 #f8d323;
}

.marginLabel {
    margin-top: 1% !important;
}

.headerLabel {
    margin-top: -1%;
}

.pokemonName {
    text-transform: uppercase !important;
}